@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans';
}

.login-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-div {
  width: max-content;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
}

.input-field {
  height: 30px;
  width: 240px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  margin-top: 4px;
  padding-left: 6px;
}

.button-submit {
  height: 30px;
  width: 100%;
  margin-top: 6px;
  border: none;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.header-dashboard {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f6f6f6;
}

.my-blogs-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogs-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.blog-div {
  background-color: #fafafa;
  margin-top: 10px;
  padding: 6px 10px;
  border-radius: 10px;
  cursor: pointer;
}